<div class="top-menu">
    <mat-toolbar color="primary">
      <span>Wipro Management</span>
       <a mat-button routerLink="">Home</a>
       <a mat-button routerLink="/about">About</a>
       <a mat-button routerLink="/barchart">Bar Chart</a>
       <a mat-button routerLink="/chart">Chart</a>
       <a mat-button routerLink="/form">Form</a>
       <a mat-button routerLink="/piechart">InteractivePie</a>
     </mat-toolbar>
<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>
