<div class="view">
    <div class="top-menu">
        <mat-toolbar color="primary">
          <span>Wipro Management</span>
           <a mat-button routerLink="">Home</a>
           <a mat-button routerLink="/about">About</a>
           <a mat-button routerLink="/barchart">Bar Chart</a>
           <a mat-button routerLink="/chart">Chart</a>
           <a mat-button routerLink="/form">Form</a>
           <a mat-button routerLink="/piechart">InteractivePie</a>
           <a mat-button routerLink="/product">Productivity</a>
           <a mat-button routerLink="/dice">Roll Dice</a>
         </mat-toolbar>
</div>
<div class="container">
    <h2>Dice Roller</h2>
    <div [formGroup]="form">
    <label for="numRolls">Number of Rolls:</label>
    <input type="number" id="numRolls" formControlName="numRolls" placeholder="Enter total output">
    <button (click)="rollDice(numRolls)">Roll!</button>
    </div>
    <div class="dice-container"   *ngIf="rolls.length > 0">
    <div class="dice" *ngFor="let roll of rolls">{{ roll }}</div>
    </div>
    </div>

  