<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="https://kendallmark3.wixsite.com/learnteachmasterdevo" target="_blank">Mark Kendall</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="https://kendallmark3.wixsite.com/learnteachmasterdevo" target="_blank">Mark Kendall</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://kendallmark3.wixsite.com/learnteachmasterdevo" target="_blank">Mark Kendall</a></div>
            </div>
        </div>
    </div>
</div>
