

<app-header></app-header>
    <div class="container" style="text-align:center;">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span>Welcome to Wipro Projections</h3>
        </header>
        <p style="white-space: pre;">{{ message }}</p>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2 background:white-space">Created by:</div>
                <div class="col-md-10"><a href="https://www.wipro.com/digital/" target="_blank">Wipro</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="https://www.wipro.com/blogs/" target="_blank">Wipro Blog</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://www.wipro.com/digital/" target="_blank">Wipro  Digital</a></div>
            </div>
        <br/><br/>
            <div class="h-22 grid grid-cols-3 gap-1 content-between bg-gradient text-align center ghost-shadow">
                <div>Learn</div>
                <div>Teach</div>
                <div>Master</div>
                <div>Focus</div>
                <div>Align</div>
                <div>Repeat</div>
              </div>
        </div>
    
    </div>

