
<div class="view">
    <div style="height:100px; width:100px; background:#000000">
        <img class="logo"
          src="../assets/Wipro_Primary Logo_Color_RGB.svg">  
      </div>
    <div class="container" style="text-align:center;">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span>Welcome to Wipro Projections</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="https://www.wipro.com/digital/" target="_blank">Wipro</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="https://www.wipro.com/blogs/" target="_blank">Wipro Blog</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://www.wipro.com/digital/" target="_blank">Wipro  Digital</a></div>
            </div>
        </div>
    </div>
</div>

